html {
    height: 100%;
    width: 100%;
    background-color: rgb(31, 185, 129);
}

h2 {
    text-align: center;
}

form {
    background-color: rgb(2, 165, 118);
    border-radius: 5px;
    padding: 20px;
}

div {
    margin: 10px 0;
    text-align: center;
}

details {
    text-align: center;
}

input,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px rgba(88, 1, 250, 0.562);
}

input[type=text],
input[type=email] {
    padding: 5px 0;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

#botao {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}