td,
th {
    border: 2px solid rgb(2, 165, 118);
    padding: 8px;
    border-collapse: collapse;
}

td {
    text-align: center;
    width: 25%;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: inline-end;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px rgb(2, 165, 118);
    text-align: center;
    table-layout: fixed;
}